/* Admin Page Style */

.admin-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-field {
    margin: 30px;
}

.admin-field input, .admin-field select {
    border: 1px solid #ccc; /* Add border */
    border-radius: 20px;
    background-color: #f9f9f9; /* Light grey background */
    text-align: center;
}

label, .current-data {
    display: block; /* Make label and current data block elements */
    margin: auto; /* Auto margins for horizontal centering */
    width: fit-content; /* Adjust width to fit the content */
}

input[type="text"], input[type="date"], input[type="time"], select {
    width: calc(100% - 20px); /* Adjust width to account for padding */
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block; /* Make input/select block elements */
    margin-left: auto; /* Auto margins for horizontal centering */
    margin-right: auto;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


/* Style for displaying current Firebase data */
.current-data {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 0.9em;
    color: rgb(255, 0, 0);
    text-align: center;
}

/* Media query for larger screens */
@media screen and (min-width: 1024px) {
    .admin-container {
        flex-direction: row;  
    }

}