
/* Header Styles */
header {
  position: fixed; /* Position the footer relative to the browser window */
  top: 0; /* Align the footer to the bottom of the window */
}

header h1 {
  font-size: 24px; /* Adjust the font size as needed */
  color: #ffffff; /* Set the font color */
  text-align: center; /* Align the text to the center */
}

/* Body Styles */
body {
  padding-top: 60px; /* Height of the header */
}

/* Footer Button Styles */
.footerbutton {
  display: flex; /* Use flexbox to center content */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Align items horizontally */
  width: 33.3%;
  height: 100%;
  background-color: #ffffff; /* Set background color */
  color: #000000; /* Set text color */
  border: none; /* Remove border */
  text-decoration: none; /* Remove default text decoration */
  flex-direction: column; /* Stack items vertically */
  float: right;
  cursor: default; /* Set cursor to default on hover */
}


/* Footer Button Image Styles */
.footerbutton img {
  vertical-align: middle; /* Align the image vertically */
  width: 30px;
  height: 30px;
  margin-top: -10px;
  padding: 10px;
  filter:brightness(0);
}